	.blue-backround{
		background-color: green;
	}

	.grey-background{
		background-color: #ABABAB;
		
	}

	.navbar{
		background-color: #1874CD;
	}

	.navbar li a {
		color: white !important;
		padding-top:25px !important;
		padding-bottom:25px !important;
	}

	.navbar li a:hover {
		color: black !important;
	}

	.navbar-default .navbar-nav>.active>a{
		background-color: #212121 !important;
	}

	.navbar-nav{
		float: center !important;
	}

	#body { /*The website background*/
		background-image: url("../images/milky-way-rocks-night-landscape.jpg");
		background-size: cover;

	}

	p {
		font-family: 'Raleway', serif;
		font-weight: 300;
		font-size: 17px;
	}

	h1{
		font-family: 'Squada One', serif;
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 50px;
		text-shadow: 1px 1px 50px #3F3F3F;
		font-weight: bold;
	}

	h2 {
		font-family: 'Squada One', serif;
		font-size: 40px;
		margin-top: 20px;
		margin-bottom: 10px;
	}


	.column {
		border: 1px solid black;
		background-color: white;

	}

	.soft-body {
		border-radius: 20px !important;
		border: 10px;
	}


	.row {
		margin-right: -15px;
		margin-left: -15px;
	}

	header {
	    height: 100px;
	    background-color: #1874CD;
	    border-bottom: 3px solid #5A5A5A;
	    margin-bottom: 2%;
	    color: white !important;
	    display: block;
	}

	footer {
		font-family: 'Raleway', serif;
		color: white;
	}


	/*ul{
		font-family: 'Raleway', serif;
		font-size: 17px;
		display: inline-block;
	}*/


	li {
		font-family: 'Raleway', serif;
		font-size: 17px;
		display: inline-block;
	}

	.social-icons {
		width: 48px;
		height: 48px;
	}


	.footer-widgets, .footer-widgets a {
    color: #999;
	}

	.footer-widgets {
    background-color: #333;
    clear: both;
    padding-top: 40px;
	}

	div {
    display: block;
	}

